.environment
.firefox_env
bash/hist
nvim/.netrwhist
bash/bash
bspwm/bspwm
git/git
nvim/nvim
simplestatus/simplestatus
ssh/ssh
sx/sx
sxhkd/sxhkd
zathura/zathura
python/python
firefox/
htop/htop
tridactyl/tridactyl
nvim/autoload/plug.vim.old
nvim/spell/
nvim/plugin
utils/*.swp
utils/*.tmp
utils/c/scream
utils/c/xgetnewwindow
utils/c/timer
utils/c/boid
utils/c/a.out
utils/c/anaconda
utils/c/colors
utils/c/tmessage
