.environment
.firefox_env
bash/hist
nvim/.netrwhist
bash/bash
bspwm/bspwm
git/git
nvim/nvim
simplestatus/simplestatus
ssh/ssh
sx/sx
sxhkd/sxhkd
zathura/zathura
python/python
firefox/
htop/htop
tridactyl/tridactyl
